ul {
  padding: 5px
}

.alllist {
  padding: 5px;
}

#addbtn {
  position: absolute;
  left: 25%;
  background-color: pink;
  display: inline-block;
  border: none;
  font-size: 15px;
}