* {
  box-sizing: border-box;
}

ul {
  padding: 0px;
}

body {
  background-color: rgb(245, 226, 246);
}

button {
  border: none;
  display: block;
  color: white;
  cursor: pointer;
  background-color: transparent;
}

.list {
  width: 400px;
  background-color: #0081eb;
  color: white;
  margin: auto;
  text-align: center;
  border-radius: 20px 0 20px 0;

}

.header {
  color: white;
  background-color: #EB177E;
  border-radius: 20px 0 20px 0;
  font: 24px bold;
  padding: 5px 0;
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  font-size: 19x;
}

.item__delete {
  font-size: 17px;
  transition: all 300ms ease-in
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.item__underline {
  width: 90%;
  height: 1px;
  color: gray;
  margin: auto;
}

.footer {
  color: white;
  background-color: #EB177E;
  border-radius: 20px 0;
}

.footer__input {
  width: 100%;
  height: 30px;
  border:none;
  outline: none;
  font-size: 24px;
}

.footer__btn{
  background-color: #EB177E;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

