/* CSS로 그림그리기 */

body {
  background-color: #db2e4b;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  position: absolute;
  /* 가로선을 그려야 하니, 가로는 100%를 주고, 세로는 선이니까 얇게 1px로 줄임 */
  width: 100%;
  height: 1px;
  /* 위에서 50% 떨어진 곳에 위치 */
  top: 50%;
}

.vertical {
  position: absolute;
  height: 100%;
  width: 1px;
  /* 왼쪽에서 50% 떨어진 곳에 위치 */
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  /* img가 크로스선 중앙으로 오도록 조정
  translate(move to left, move to top) */
  transform: translate(-50%, -50%);
}

.coordinator {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(28%, 30%);
}
